<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{commons/layout}">
<head>
	<meta charset="UTF-8">
	<title>キャルシネマ -上映作品一覧</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<!-- Mainセクション -->
	<div class="container">
		
		<!-- 置き換わる内容 -->
		<div layout:fragment="content">
				
		<!-- 作品一覧 -->
					<article class="information">
						<h3>上映作品</h3>
							<article class="movie-view">
								<div th:each="movie : ${movies}">
								<img th:src="[[${movie.movieImg}]]">
								<h5>[[${movie.movieTitle}]]</h5>
								<button class="movie-introduction"><a th:href="function/${movie.id}">作品情報</a></button>
								<br/>
								</div>
							</article>

					</article>
		</div>
	<!-- 置き換わる内容ここまで -->
	
	</div>
</body>
</html>