<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>予約入力画面</title>
</head>
<body>
	<form th:action="@{/reservation/confirm}"method="post"th:object="${reservationForm}">
		<!-- 作品名 -->
		<div align="center">
		<label for="movieTitle">作品名</label>
		<select size="1" name="movieTitle">作品名:
			<option disabled selected value>選択してください。</option>
			<option th:each="m : ${list}" name="movieTitle"th;field="*{movieTitle}">[[${m.movieTitle}]]</option>
		</select>
		</div>
		<div th:if="${#fields.hasErrors('movieTitle')}">
			
		</div>
		<!-- 人数 -->
		<div align="center">
			<label for="numberOfPeople">人数:</label>
			<input type="number" name="numberOfPeople" th:field="*{numberOfPeople}"min="1">人
<!--			<ul th:if="${#fields.hasErrors(*)}">
				<li th:each="err:${#fields.errors(*)}"th:text="${err}"></li>
			</ul>-->
		</div>	
		<!-- 予約希望日時(今日～30日) -->
		<div align="center">
			<label for="reservationDate">希望日時:</label>
			<input type="date" name="reservationDate"th:field="*{reservationDate}" min="${today}" max="${maxDate}">
		</div>
		<!-- 予約ボタン -->
		<div align="center">
			<input type="submit" value="予約する">
		</div>
			
	</form>

</body>
</html>