<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{commons/layout}">
<head>
	<meta charset="UTF-8">
	<title>キャルシネマ</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="main.css">
</head>
<body>

	<!-- Mainセクション -->
	<div class="container">

		<!-- 置き換わる内容 -->
		<div layout:fragment="content">	
			
		<!-- お知らせ -->
					<article class="information">
						<h3>お知らせ</h3>
							<article class="information-tips">
								<article class="heading">11月13日　新作公開</article>
								<p>詳しい情報は<a href="">こちら</a></p>
							</article>
							
							<article class="information-tips">
								<article class="heading">11月01日　システムメンテナンスのお知らせ</article>
								<p>詳しい情報は<a href="">こちら</a></p>
							</article>
							
							<article class="information-tips">
								<article class="heading">10月20日　ご来場にあたってのお願い</article>
								<p>詳しい情報は<a href="">こちら</a></p>
							</article>
					</article>
					
		<!-- ピックアップ -->
		<div class="pickup">
			<h3>ピックアップ</h3>
			<img src="" hright="200" width="200">
			<h5>[[${movie.movieTitle}]]</h5>
				<p>[[${movie.summary}]]</p>
		</div>
		
	<!-- 置き換わる内容ここまで -->
		</div>
		
	</div>
</body>
</html>