<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{commons/layout}">
<head>
	<meta charset="UTF-8">
	<title>キャルシネマ - 作品紹介</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="sanitize.css">
	<link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
</head>
<body>
	<!-- Mainセクション -->
	<div class="container">
		<!-- 置き換わる内容 -->
		<div layout:fragment="content">	
		<!-- 作品一覧 -->
					<article class="information">
						<h3>上映作品</h3>
							<article class="movie-view">
								<img src="">
								<h5>[[${movie_title}]]</h5>
								<p>[[${summery}]]</p>
								<br/><br/>
							</article>
					</article>
	<!-- 置き換わる内容ここまで -->
		</div>
	</div>
</body>
</html>