<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{commons/layout}">
<head>
	<meta charset="UTF-8">
	<title>キャルシネマ - 作品紹介</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<!-- Mainセクション -->
	<div class="container">
		
		<!-- 置き換わる内容 -->
		<div layout:fragment="content">
			
		<!-- 作品一覧 -->
					<article class="information">
						<h3>上映作品</h3>
							<article class="movie-view">
								<img th:src="[[${movie.img}]]">
								<h5>[[${movie.movie_title}]]</h5>
								<button class="movie-introduction"><a th:href="">予約する</a></button>
								<h5>あらすじ</h5>
								<p>[[${movie.summary}]]</p>
								<br/><br/>
							</article>
					</article>
	<!-- 置き換わる内容ここまで -->
		</div>
		
	</div>
</body>
</html>