<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="main.css">
<title>menubar</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
	<div class="container">
	<!-- フラグメントを定義-->
		<nav class="grobal-nav">
		<ul class="menu">
			<li><span th:fragment="home"><a href="">ホーム</a></span></li>
			<li><span th:fragment="introduction"><a href="">作品紹介</a></span></li>
			<li><span th:fragment="reservation"><a href="">予約する</a></span></li>
			<li><span th:fragment="changeAndDelete"><a href="">予約変更と削除</a></span></li>
			<li><span th:fragment="guide"><a href="">劇場案内</a></span></li>
		</ul>
	</nav>
	</div>
</body>
</html>