<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>menubar</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="sanitize.css">
	<link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
</head>
<body>
	<div class="container">
	<!-- フラグメントを定義-->
		<nav class="grobal-nav">
		<ul class="menu">
			<li><a href=""><span th:fragment="home">ホーム</span></a></li>
			<li><a href=""><span th:fragment="introduction">作品紹介</span></a></li>
			<li><a href=""><span th:fragment="reservation">予約する</span></a></li>
			<li><a href=""><span th:fragment="changeAndDelete">予約変更と削除</span></a></li>
			<li><a href=""><span th:fragment="guide">劇場案内</span></a></li>
		</ul>
	</nav>
	</div>
</body>
</html>