<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register Success</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="main.css">
</head>

<body>
	<h2>新規登録完了</h2>
	<p>貴方の会員IDは: <span th:text="${randomId}"></span></p>
	<br>
	<a th:href="@{/login}">ログイン</a>
</body>

</html>