@charset "UTF-8";
@font-face {
	font-family:'キー';
	src: url('../fonts/Key-Regular.otf');
}

@font-face {
	font-family:'マキナス';
	src: url('../fonts/Makinas-4-Square.otf');
}

@font-face {
	font-family:'NotoSans';
	src: url('../fonts/NotoSansJP-Light.ttf');
}

* {
	margin:0;
	padding:0;
}

html {
	background-color:#000000; /* 周囲の背景色 */
	padding:0;
	margin:0;
}

body {
	padding: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 100px;
	margin-left: 100px;
	background-color: #FFFFFF;	
}

.container{
	height: 100%;
	width: 80%;/*中央の幅の指定*/
	margin: 0 auto;
	background: #FFFFFF;
	color:#000000;
	font-family:'NotoSans','游ゴシック','メイリオ','ヒラギノ角ゴシック','Arial',sans-serif;
	font-size:normal;
	font-weight:normal;
	letter-spacing:normal;
	line-height: 1.5;
	word-break: break-all;
}

article{
	color:#000000;
	font-family:'NotoSans','游ゴシック','メイリオ','ヒラギノ角ゴシック','Arial',sans-serif;
	font-weight: normal;
	letter-spacing:normal;
	line-height: 1.5;
	word-break: break-all;
}

article.heading{
	margin:0;
	padding:0;
	font-family:'NotoSans';
	font-weight: bold;
}

h1{
	color: #ec541c;
	font-family:'キー','游ゴシック','メイリオ','ヒラギノ角ゴシック','Arial',sans-serif;
	font-size: 45px;
	font-weight:normal;
	letter-spacing:normal;
	line-height: 1.5;
	word-break: break-all;
}

h2,h3,h4,h5,h6 {
	font-family:'マキナス','游ゴシック','メイリオ','ヒラギノ角ゴシック','Arial',sans-serif;
	text-decoration:underline;
}

nav{
	display:block;
}

.grobal-nav ul{
	display: flex;
	padding:0.5em;
	border:solid;
}

.menu li{
	list-style-type: none;
	display:list-item;
	color:rgb(211, 211, 211);
	background-color: #000000;
}


.global-nav ul li a{
	display:block;
	text-decoration: none;
	transition: all 0.3s;
}

@media (min-width: 640px) {
 	.menu li {
		display: inline-block;  /* 横に並べる */
 	}
}

p {
	text-indent: 1em;
 	margin: 0;
 	padding: 0;
 	font-size: 15px;
}

header{
	padding:10px;
	height:150px;
	width:100%;
	display:flex;
	justify-content: space-between;
	background-color: #FFFFFF;
	font-family:'NotoSans','游ゴシック','メイリオ','ヒラギノ角ゴシック','Arial',sans-serif;
	font-weight:normal;
	letter-spacing:normal;
	line-height: 1.5;
	word-break: break-all;
}

.title{
	margin:5px;
	display: flex;
	line-height: 70px;
	text-align: justify;
	vertical-align: text-bottom;
}

/*.account{
	
}*/

header.fixed{
	position: fixed;/*fixedを設定して固定*/
	z-index: 999;/*最前面へ*/
	top:0;/*位置指定*/
	left:0;/*位置指定*/
}

footer{
	width: 100%;
	background-color: #999999;
	font-family:'NotoSans','游ゴシック','メイリオ','ヒラギノ角ゴシック','Arial',sans-serif;
	text-align: center;
	font-size:14px;
	font-weight:normal;
	letter-spacing:normal;
	line-height: 1.5;
	word-break: break-all;
}

.footer-link{
	text-align:center;
}

.footer-link li{
	padding: 8px 20px;
	display:inline;
	list-style: none;
    border-bottom: none;
}

ol,ul {
	list-style: none;
}

/***トップへ戻るボタン***/
fotter.page-top {
    display: block;
    font-weight: bold;
    padding: .7em;
    text-align: center;
    background: #fff; /*背景色*/
    color: #666; /*文字色*/
    transition: .3s;
}
/***マウスオーバー時***/
fotter.page-top:hover {
    background: #666; /*背景色*/
    color: #fff; /*文字色*/
}
/***トップへ戻るボタンここまで***/

small{
	color:#fff;
	display: block;
	text-align: center;
	padding:20px;
}

pre {
	font-size: inherit;
}

/*blockquote {
	
}*/

table {
	max-width: 100%;
}

th,td {
	padding: .5em;
}

iframe {
	max-width: 100%;
}

input,textarea,button {
	font-size: inherit;
	line-height: '';
}

code {
	font-size: inherit;
	word-break: break-all;
}

img {
	max-width: 100%;
}

a{
	color: #FFFFFF;
	text-decoration:none;
	background-color:transparent
}

a:hover{
	color:#666666;
	text-decoration: none;
}