@charset "UTF-8";
@font-face {
	font-family:'キー';
	src: url('../fonts/Key-Regular.otf');
}

@font-face {
	font-family:'マキナス';
	src: url('../fonts/Makinas-4-Square.otf');
}

@font-face {
	font-family:'NotoSans';
	src: url('../fonts/NotoSansJP-Light.ttf');
}

* {
	margin:0;
	padding:0;
}

html {
	background-image: url('../img/background.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	padding:0;
	margin:0;
}

body {
	padding: 0;
	margin-top: 10%;
	margin-bottom: 8%;
	margin-right: 15%;
	margin-left: 15%;
	background-color: #FFFFFF;
}

body.container{
	height: 100%;
	/*width: 80%;中央の幅の指定*/
	margin: 0;
	background: #FFFFFF;
	filter: opacity(80%);
	color:#000000;
	font-family:'NotoSans','游ゴシック','メイリオ','ヒラギノ角ゴシック','Arial',sans-serif;
	font-size:normal;
	font-weight:normal;
	letter-spacing:normal;
	line-height: 1.5;
	word-break: break-all;
}

article{
	width:80%;
	margin:0 auto;
	color:#000000;
	font-family:'NotoSans','游ゴシック','メイリオ','ヒラギノ角ゴシック','Arial',sans-serif;
	font-weight: normal;
	letter-spacing:normal;
	line-height: 1.5;
	word-break: break-all;
}

article.information{
	padding-top: 0;
	padding-right:0;
	padding:0;
	padding-bottom:30px;
	margin-top:50px;
}

article.heading{
	margin:0;
	padding:0;
	font-family:'NotoSans';
	font-weight: bold;
}

h1{
	color: #ec541c;
	font-family:'キー','游ゴシック','メイリオ','ヒラギノ角ゴシック','Arial',sans-serif;
	font-size: 20px;
	font-weight:normal;
	letter-spacing:normal;
	line-height: 1.5;
	word-break: break-all;
}

h2,h3,h4,h5,h6 {
	font-family:'マキナス','游ゴシック','メイリオ','ヒラギノ角ゴシック','Arial',sans-serif;
	text-decoration:underline;
}

nav{
	width: 100%;
	height: 70px;
	background-color: dimgray;
	padding-top: 5px;
	box-sizing: border-box;
}



p {
	text-indent: 1em;
 	margin: 0;
 	padding: 0;
 	font-size: 15px;
}

header{
	padding:0px;
	height:100px;
	width:100%;
	display:flex;
	position: relative;
	justify-content: space-between;
	background-color: #FFFFFF;
	font-family:'NotoSans','游ゴシック','メイリオ','ヒラギノ角ゴシック','qArial',sans-serif;
	font-weight:normal;
	letter-spacing:normal;
	line-height: 1.5;
	word-break: break-all;
}

.title{
	margin:5px;
	color: #ec541c;
	font-family:'キー','游ゴシック','メイリオ','ヒラギノ角ゴシック','Arial',sans-serif;
	font-size: 20px;
	font-weight:normal;
	text-align: left;
	letter-spacing:normal;
	line-height: 1.5;
	word-break: break-all;
}

.account{
	padding:0;
	margin:0;
	color: #000000;
	font-size: 20px;
	font-family:'マキナス','游ゴシック','メイリオ','ヒラギノ角ゴシック','Arial',sans-serif;
	text-decoration: underline;
	text-align: right;
}

footer{
	width: 100%;
	margin-top:50px;
	padding-top:20px;
	background-color: #999999;
	font-family:'NotoSans','游ゴシック','メイリオ','ヒラギノ角ゴシック','Arial',sans-serif;
	text-align: center;
	font-size:14px;
	font-weight:normal;
	letter-spacing:normal;
	line-height: 1.5;
	word-break: break-all;
}

.footer-link{
	text-align:center;
}

.footer-link li{
	padding: 8px 20px;
	display:inline;
	list-style: none;
    border-bottom: none;
}

ol {
	list-style: none;
}

ul{
	display: flex;
}

/***トップへ戻るボタン***/
fotter.page-top {
    display: block;
    font-weight: bold;
    padding: .7em;
    text-align: center;
    background: #fff; /*背景色*/
    color: #666; /*文字色*/
    transition: .3s;
}
/***マウスオーバー時***/
fotter.page-top:hover {
    background: #666; /*背景色*/
    color: #fff; /*文字色*/
}
/***トップへ戻るボタンここまで***/

small{
	color:#fff;
	display: block;
	text-align: center;
	padding:20px;
}

pre {
	font-size: inherit;
}

table {
	max-width: 100%;
}

th,td {
	padding: .5em;
}

iframe {
	max-width: 100%;
}

input,textarea,button {
	font-size: inherit;
	line-height: '';
}

code {
	font-size: inherit;
	word-break: break-all;
}

img {
	text-indent: 1em;
	max-width: 100%;
}

.header-img{
	width:100vw;
	height: 300px;
	margin:0;
	padding:0;
	text-align: center;
}

a{
	color: #666666;
	text-decoration:none;
}

a:hover{
	color:#ec541c;
	text-decoration: none;
}

a:visited{
	color:#666666;
	text-decoration: none;
}
